# env
.env
.env.local
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.idea/
.vscode/
*.tsbuildinfo
node_modules
dist
dist-ssr
*.local
#backend
__pycache__/
*.py[cod]
*$py.class
# virtual env
venv/
env/
.venv/
.Python


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
